body {
    margin: 0;
    /* background-color: #FFF5EB; */
    background-color: #1D1C1A;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Great Vibes", cursive;
    font-style: normal;
}

.image {
    width: 220px;
    height: 300px;
    border-radius: 3%;
    box-shadow: -5px 5px 5px #171616;
}

.image-name {
    font-size: 20px;
    color: #FFF5EB;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 3rem;
    padding: 2rem;
    margin-bottom: 130px;
}

.child {
    width: 30%;
}

.div-first {
    text-align: center;
}

.div-second {
    text-align: left;
    color: #FFF5EB;
    font-size: 18px;
}

.footer-image {
    width: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

.footer-image:hover {
    transform: scale(1.1);
    box-shadow: rgba(52, 51, 50, 0.8);
    transition: all 0.3s ease-in-out;
    border-radius: 2%;
}

.footer {
    position: fixed;
    bottom: 0;
    /* background-color: #1D1C1A; */
    background-color: #FFF5EB;
    width: 100%;
    text-align: center;
    color: #1D1C1A;
    height: 90px;
}

/* 
#mail:hover {
    transform: 1.2;
} */

.footer-div {
    position: 50%;
}